body {
    background-color: #edd273;

     }

header{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #0280cf;
    text-align: center;
    font-family: Arial;

}

p {
    font-family: arial;
    font-size: 20px;
}

article {
    margin: auto;
    width: 35%;
    position: relative;
    font-family: arial;

}

.info {
    text-align: left;
    position: relative;
    left: 32.5%;
}

.porn {

  display: grid;
  width: 20%;
  position: absolute;
  margin-left: 6.25%;
  left: 0px;
  gap: 1rem;
  grid-template-columns: repeat( minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.porn2 {

  display: grid;
  width: 20%;
  position: absolute;
  margin-right: 6.25%;
  right: 0px;
  gap: 1rem;
  grid-template-columns: repeat( minmax(240px, 1fr));
  grid-auto-rows: 240px;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: right;

  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-position: left;
  background-repeat: no-repeat;

}

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}

